/* MIXIN EXAMPLE
@mixin name(){
    .
    .
    .

}

POZIVANJE:
@include name();
    */

@mixin radius($radius) {
    @if ($enable-radius) {
        border-radius: $radius;
    }

    @else {
        border-radius: 0px;
    }
}

@mixin customRadius($tl, $tr, $br, $bl) {

    @if ($enable-radius) {
        border-radius: $tl $tr $br $bl;
    }

    @else {
        border-radius: 0px;
    }
}

@mixin styleSection($pt, $pb, $bg) {
    padding: $pt 0 $pb;
    background-color: $bg;
}