$white : #ffffff;
$black : #000000;
$purple : #b009e2;
$light-gray: #eeeeee;
$red: #aa191e;
$blue: #1534c0;
$green: #1cd83b;
$orange: #c26d1e;
$yellow: #cfdd0e;
$cyan: #05ddec;
$dark-gray:#444444;

$enable-radius: true; //boolean